<div class="row">
  <div class="col-md-12" style="margin:10px 0;">
    <%= render "shared/search" %>
  </div>
  <div class="col-md-12">
    <%= will_paginate @subjects, renderer: BootstrapPagination::Rails %>
    <%= content_tag :div, class: 'pull-right' do %>
      <%= link_to 'New Person', new_person_path, class: 'btn btn-default', style: 'margin-bottom: 10px;' %>
    <% end if current_user %>
  </div>
</div>


<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Profession</th>
      <%= content_tag :th, '' if current_user %>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.display_name, person %></td>
        <td><%= person.profession_list %></td>
        <%= content_tag :td, link_to('Edit', edit_person_path(person)) if current_user %>
      </tr>
    <% end %>
  </tbody>
</table>