<% title "#{@person.display_name}" %>

<% content_for(:buttons) do %>
  <%= link_to edit_person_path(@person), class: 'btn btn-default' do %>
    <%= fa_icon("edit") %>
    <%= "Edit" %>
  <% end %>
  <%= link_to @person, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
    <%= fa_icon("remove") %>
    <%= "Delete" %>
  <% end %>
<% end if current_user %>

<div class="person">
  <div class="row">
    <div class="col-md-8">
      <div id="core-data" class="data-element">
        <h3><%= @person.full_name %></h3>
        <p>
          <%=  fa_icon(@person.gender) if @person.gender %> 
          <%= "* #{@person.birthday.to_formatted_s(:long_ordinal)} (#{@person.place_of_birth})" if @person.birthday %>
          <%= ", &dagger; #{@person.deathday.to_formatted_s(:long_ordinal)} (#{@person.place_of_death})".html_safe if @person.deathday %>
        </p>
        
        <%= content_tag :p, @person.about if @person.about %>
        
        <p>
          <strong>Profession:</strong>
          <%= @person.profession_list %>
        </p>
      </div>
      <%= content_tag :div, id: "participation-data", class: "data-element" do %>
        <h4>Excavation participation</h4>
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th>Since</th>
              <th>till</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
        
          <tbody>
            <% @person.participations.order(from: :desc).each do |participation| %>
              <tr>
                <td><%= participation.from %></td>
                <td><%= participation.till %></td>
                <td><%= participation.competence %></td>
                <td><%= participation.comment %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end if @person.participations.any? %>
      
      <%= content_tag :div, id: "affiliation-data", class: "data-element" do %>
        <h4>Institution affiliations</h4>
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th>Institution</th>
              <th>from</th>
              <th>till</th>
            </tr>
          </thead>
        
          <tbody>
            <% @person.affiliations.order(from: :desc).each do |affiliation| %>
              <tr>
                <td><%= link_to affiliation.institution.try(:name), affiliation.institution %></td>
                <td><%= affiliation.from %></td>
                <td><%= affiliation.till %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end if @person.affiliations.any? %> 
    </div>
  
    <%= content_tag "div", class: 'col-md-4', id: "portrait" do %>
      <% @portraits.take(1).each do |img| %>
        <%= render 'media_thumbnail', img: img %>
      <% end %>
    <% end %>
  </div>
  
  <div id="literature-data" class="data-element">
    <%= content_tag :div, id: 'literature-by' do %>
      <h3>Literature by <%= @person.display_name %> on babylon-online.org</h3>
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th>Citation</th>
            <th>Title <span class="badge pull-right">Total <%= @creatorship.count %></span></th>
          </tr>
        </thead>
      
        <tbody>
          <% @creatorship.sort_by{|c| [c['published_date'], c['cite']]}.reverse.take(5).each do |entry| %>
            <tr>
              <td>
                <%= link_to "#{entry['cite']}", entry['links']['human'], target: 'blank' %><br/>
                <small><%= entry['type'] %></small>
              </td>
              <td>
                <%= entry['full_entry'] %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      Look for more on <%= link_to 'literature.babylon-online.org', "#{Rails.application.secrets.literature_host}/subjects?q=#{({creator: @person.family_name}.to_query)}" %>
    <% end if @creatorship.present? %>
    
    <%= content_tag :div, id: 'literature-mentions' do %>
      <h3>Literature tagged with <%= @person.display_name %> on babylon-online.org</h3>
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th>Citation</th>
            <th>Title <span class="badge pull-right">Total <%= @mentions.count %></span></th>
          </tr>
        </thead>
      
        <tbody>
          <% @mentions.sort_by{|c| [c['published_date'], c['cite']]}.reverse.take(5).each do |entry| %>
            <tr>
              <td>
                <%= link_to "#{entry['cite']}", entry['links']['human'], target: 'blank' %><br/>
                <small><%= entry['type'] %></small>
              </td>
              <td>
                <%= entry['full_entry'] %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      Look for more on <%= link_to 'literature.babylon-online.org', "#{Rails.application.secrets.literature_host}/subjects?q=#{({tag: @person.family_name}.to_query)} OR #{({tag: @person.display_name}.to_query)}" %>
    <% end if @mentions.present? %>
  </div>
  
  <%= content_tag :div, id: 'links', class: 'data-element' do %>
    <h3>External links</h3>
    <%= content_tag :div, id: "links", class: "list-group" do %>
      <% @person.links.each do |l| %>
        <%= link_to l.url, l.url, class: 'list-group-item', target: :_blank %>
      <% end %>
    <% end %>
  <% end if @person.links.any? %>
  
  <%= content_tag :div, id: 'images', class: 'data-element' do %>
    <h3>Pictures tagged with <%= @person.display_name %></h3>
    <div class="row">
      <% @images.take(9).each do |img| %>
        <%= content_tag "div", class: 'col-md-4', id: "image" do %>
          <%= render 'media_thumbnail', img: img %>
        <% end %>
      <% end %>
    </div>
    <%= content_tag :span, "9 out of #{@images.count}. Look for more on #{link_to 'media.babylon-online.org', URI.encode("#{Rails.application.secrets.media_host}/subjects?q=#{@person.display_name}")}" if @images.count > 8 %>
  <% end if @images.present? %>
</div>